
html {
	background-color: #ff1;
}

body {
	background-color: #fff;
	border-color: black;
	border-radius: 20px;
}

h1 {
	size: 1em;
	color: #000;
}

h2{
	color: ;
}

em{
	font-style: italic;
}

strong {
	font-style: bold;
}

blockquote {
	background-color: #C0C0C0;

}

