
html {
	background-color: #FFF;
	border-color: gray;
	border-radius: 20px;
}

h1 {
	size: 1em;
	color: #000;
}

em{
	font-style: italic;
}

strong {
	font-style: bold;
}

blockquote {
	background-color: #C0C0C0;

}

